*{
  box-sizing: border-box;
}
html,body{
  font-family: 'Roboto', sans-serif;
  color: #444;
  background: #333338;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}
.main-content .panel img{
  float: left;
  margin: 0 10px 0 0;
}
.main-content, .sidebar{
  margin: 10px;
  background: #eee;
  padding: 6px;
}
.panel{
  background: #FFF;
  padding: 20px;
  margin: 10px;
}
.main-content{
  flex: 3;
}
.sidebar{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar h3{
  font-size: 14px;
  margin: 0;
}
.sidebar p{
  font-size: 14px;
}
.container{
  display: flex;
}
